<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>보안뉴스</title>
</head>
<body>
	<div id="wrap">
		<div class="nav">
			<div class="tab" type="boan">보안뉴스</div>
			<div class="tab" type="데일리시큐">데일리시큐</div>
		</div>
		<div class="content"></div>
	</div>


</body>
</html>
<!-- 



'<nav>'+
					// 뉴스들이 많아지면 변수로 빼서 for문으로 돌림 
					'<li class="tab" type="boan" sel="on">보안뉴스</li>'+
					'<li class="tab" type="daliy">데일리시큐</li>'+
				'</nav>'+
				'<div id="content">'+
					'<table class="table">'+
						'<thead>'+
							'<tr>'+
								'<th>번호</th>'+
								'<th>날짜</th>'+
								'<th>제목</th>'+
							'</tr>'+
						'</thead>'+
						'<tbody>'+
							'<tr>'+
								'<td>번호 데이터</td>'+
								'<td>날짜 데이터</td>'+
								'<td>제목 데이터</td>'+
							'</tr>'+
							'<tr>'+
								'<td>번호 데이터</td>'+
								'<td>날짜 데이터</td>'+
								'<td>제목 데이터</td>'+
							'</tr>'+
							'<tr>'+
								'<td>번호 데이터</td>'+
								'<td>날짜 데이터</td>'+
								'<td>제목 데이터</td>'+
							'</tr>'+
						'</tbody>'+
					'</table>'+
				'</div>';
 -->
