<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>보안뉴스</title>
    
    <!-- CSS -->
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/lib/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet">


	<!-- js -->
	<!-- <script src="{{ url_for('static', filename='script.js') }}" > </script> -->


<!-- <input type = "button" onclick = "sayHello()" value = "Say Hello" /> -->
</head>
<body onload="init()">
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/lib/jquery-1.11.3.min.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/lib/jquery-ui.min.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/lib/jquery.mCustomScrollbar.js') }}" ></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/main.js') }}" ></script>
	<script>
		function init(){
			News.start();
		}

	</script>
	<script>

	</script>
	<div id="wrap">
		<div id="nav">
			<div class="tab" type="boan" sel="on">보안뉴스</div>
			<div class="tab" type="데일리시큐" sel="off">데일리시큐</div>
		</div>
		<div id="content">
			<div id="inner_content">
				<div class="t_header">
					<div class="tr">
						<div class="th">번호</div>
						<div class="th">날짜</div>
						<div class="th">제목</div>
					</div>
				</div>
				<div class="t_body">
					{% for idx in data %}
						<div class="tr">
							<div class="td" >{{ idx.num }}</div>
							<div class="td">{{ idx.date }}</div>
							<!-- <a class="td" href="{{ idx.url }}">{{ idx.title }}</a> -->
							<a class="td">{{ idx.title }}</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	


</body>
</html>
